*,
*::before
*::after{
	box-sizing: border-box;
	border: 1px solid red;
}

@font-face {
    font-family: Goldoni;
    src: url("../fonts/goldoni.otf") format("opentype");
}

body{
	margin:0;
}

.hero{
	background-image: url(../images/hero-bg.jpg);
	background-size: cover;
	min-height: 100vh;
}

.hero .flex-container{
	display: flex;
	justify-content: flex-end;
}

.hero-logo-title{
	padding: 30px;
	padding-top: 75px;
}

.hero-logo{
	
	display: block;
	margin: 0 auto;
	max-width: 300px;

}

.logo {
	width: 100%;

}

.hero-title{
	text-align: center;
	font-family: Goldoni;
	color: white;
	font-size: 50px;
}

.hero .hero-arrow{
	position:absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 7rem;
	opacity: .5;
	color: white;
}

.main-header ul{
	list-style: none;
}

.main-nav{
	font-family: Goldoni;
}